Repository Roms1383/mesg-pusher: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn remark, yarn code:lint

:wrench: Add code coverage
  .github/workflows/main.yml
  README.md
  package.json
Due: yarn remark

:green_heart: Fix CI
  .github/workflows/main.yml
  package.json
  yarn.lock
Due: none

:white_check_mark: Add unit tests
  .github/workflows/main.yml
  package.json
  tasks/channel.spec.js
  tasks/channels.spec.js
  tasks/trigger.spec.js
  tasks/triggerBatch.spec.js
Due: yarn eslint --fix, yarn code:lint

:art: Rename jobs
  .github/workflows/main.yml
Due: none

:arrow_down: Downgrade marked
  package.json
  yarn.lock
Due: none

:see_no_evil: Update ignore files
  .dockerignore
  .mesgignore
Due: none

:wrench: Specify files to publish on release
  package.json
Due: none

:art: Update pictures link to absolute
  README.md
Due: yarn remark

:art: Refactoring after discussion
  index.test.js
Due: yarn eslint --fix, yarn code:lint

:art: Split tests steps
  .github/workflows/main.yml
Due: none

:bug: Missing environment variables
  .github/workflows/main.yml
Due: none

:pencil2: Rename job step correctly
  .github/workflows/main.yml
Due: none

:wrench: Add PMD configuration
  .huskyrc
  package.json
  ruleset.xml
  yarn.lock
Due: none

:arrow_up: Update NPM and Yarn in CI to latest version
  .github/workflows/main.yml
Due: none

:arrow_up: Refresh package-lock.json
  yarn.lock
Due: none

Add deprecated notice
  README.md
Due: yarn remark

Path conditions:
  yarn eslint --fix: any of: **/*.js
  yarn remark: any of: **/*.md
  yarn code:lint: any of: *.js
